<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.xhy.notification">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notification">
        <activity
            android:name=".channelmanager.ChannelManagerActivity"
            android:label="Channel Manager"></activity>
        <activity android:name=".GroupActivity" />
        <activity android:name=".GoogleExampleActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bigtext.BigTextMainActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_big_text_main"
            android:taskAffinity="" />

        <service
            android:name=".bigtext.BigTextIntentService"
            android:exported="false" />

        <activity
            android:name=".bigpicture.BigPictureSocialMainActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_big_text_main"
            android:taskAffinity="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <service
            android:name=".bigpicture.BigPictureSocialIntentService"
            android:exported="false" />

        <activity
            android:name=".inbox.InboxMainActivity"
            android:label="@string/title_activity_inbox_main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".messagestyle.MessagingMainActivity"
            android:label="@string/title_activity_messaging_main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <service
            android:name=".messagestyle.MessagingIntentService"
            android:exported="false" />
    </application>

</manifest>